.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.minutes, .hours {
    font-size: 1.5em;
    width: 78px;
    height: 86px;
    border: 3px solid #297F80;
    border-radius: 8px;
  
}

.mdc-text-field{
  border: 0;
}


// sss
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
}

.time-inputs {
  display: flex;
  align-items: center;
}

.hour-input,
.minute-input {
  width: 50px;
  margin-right: 20px;
}

.am-pm-toggle {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.days-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-card {
  text-align: center;
}

.second-row {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  gap: 10px;
}

